    <div style="padding: 0 3rem 1.2rem 1.5rem;">
        <div style="display: flex; justify-content: right; margin-right: -3rem;">
          <button class="closeBtn" popovertarget="about" style="color: 000; background: transparent; border: 0; cursor: pointer;"></button>
        </div>
        <h3 style="color: skyblue; text-align: center;">👋 Hi, nice to meet you!<br><br>
                                                        I'm a Chile based German Web Developer and Designer, I do:
        </h3>
        <ul>
            <li>Web design (Graphics, Interaction)</li>
            <li>Frontend (HTML, CSS, JavaScript)</li>
            <li>PHP (with frontend knowledge)</li>
            <li>Other server-side programming languages</li>
            <li>System administration <br>(only Ubuntu Desktop and Ubuntu Server)</li>
        </ul>
        <ul style="color: grey;"><small>
            <li>University of Applied Sciences and Arts, Faculty of Design, FH Bielefeld</li>
            <li>Skills in Drupal, Contao, Laravel, Vue.js, Nuxt.js, 11ty</li>
            <li>Familiar with APIs and CRUDs, Docker, GitHub and GitLab</li>
            <li>Work experience in remote work using Microsoft Teams and Bitrix24</li></small>
        </ul>
	  <a href="mailto:info@saschathiele.com" 
	     style="display: flex; justify-content: right; color: skyblue; text-decoration: none;">🇩🇪 🇪🇸 🇺🇸 &nbsp; 
	    <b>info@saschathiele.com</b>
	  </a>
    </div>
