    <div style="position: fixed; bottom: 20px; min-width: 100vw;">
        <p>
	  <hr style="border-top: 2px solid white; margin: 0 20px 10px 0;">
	</p>
        <p class="email">
	  <a href="mailto:info@saschathiele.com" style="text-decoration: none;">
	    <b>info@saschathiele.com</b>
	  </a>
	</p>
    </div>
