<!doctype html>
<html lang="en">
    <head>
	{% include 'head.njk' %}
    </head>
    <body>
        <header>
	  {{ content | safe }}
	    {% include 'components/picture.njk' %}
	    {% include 'components/hero-section.njk' %}
	</header>
	<main>
	    {% include 'photo-credits.njk' %}
	</main>
        <footer>
	    {% include 'footer.njk' %}
	</footer>
    </body>
</html>
