<!doctype html>
<html lang="en">
    <head>
	{% include 'head.njk' %}
    </head>
    <body>
        <header>
	  {{ content | safe }}
            {% include 'menu.njk' %}
	    {% include 'components/popover.njk' %}
	    {% include 'components/hero-section.njk' %}
	</header>
	<main>
	    {% include 'photoCredits.njk' %}
	</main>
        <footer>
	    {% include 'footer.njk' %}
	</footer>
    </body>
</html>
