<div class="scroll-container">   
    <div class="publication scroll-page">
        <p><b>27.05.2024</b></p>
        <p>University of Wollongong Australia</p>
        <p>Why a new ruling on the law of the sea and climate change matter</p>
        <p><b>
            <a href="https://www.uow.edu.au/media/2024/why-a-new-ruling-on-the-law-of-the-sea-and-climate-change-matters.php" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>05.05.2024</b></p>
        <p>Epoch Times</p>
        <p>Slovensko ako vlastník časti Tichého oceánu zaplatilo za jeho výskum vyše 7 milióna eur</p>
        <p><b>
            <a href="https://www.epochtimes.sk/slovensko-ako-vlastnik-casti-ticheho-oceanu-zaplatilo-za-jeho-vyskum-viac-ako-71-miliona-eur_13415.html" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>02.03.2024</b></p>
        <p>Medium.com</p>
        <p>Love is the Answer to Everything - Profundities lie beyond clichés</p>
        <p><b>
            <a href="https://medium.com/@doyouthinkihaveforgotten/love-is-the-answer-to-everything-1b1c58149669" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>09.03.2024</b></p>
        <p>IDN TIMES LAMPUNG</p>
        <p>Waspada! Peringatan Dini Gelombang Tinggi Wilayah Perairan Lampung</p>
        <p><b>
            <a href="https://lampung.idntimes.com/news/lampung/tama-wiguna/waspada-peringatan-dini-gelombang-tinggi-wilayah-perairan-lampung" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>30.03.2024</b></p>
        <p>USA Tales Network</p>
        <p>Geographical Considerations for the Distance Between Alaska and Russia</p>
        <p><b>
            <a href="https://usatales.com/geographical-considerations-for-the-distance-between-alaska-and-russia/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>23.02.2024</b></p>
        <p>DE MODE</p>
        <p>'MINDFUL TRAVEL - FINDING PEACE IN SERENE AND SECLUDED SPOTS': TRAVEL WITH DE MODE</p>
        <p><b>
            <a href="https://www.demodemagazine.com/mindful-travel-finding-peace-in-serene-and-secluded-spots-travel-with-de-mode" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>24.01.2024</b></p>
        <p>Bobo.id, Jakarta, Indonesia</p>
        <p>Fenomena El Nino Berlanjut Hingga 2024, Apakah Suhu Akan Makin Panas?</p>
        <p><b>
            <a href="https://bobo.grid.id/read/084000605/fenomena-el-nino-berlanjut-hingga-2024-apakah-suhu-akan-makin-panas?page=all" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>18.01.2024</b></p>
        <p>REVISTA LATINA</p>
        <p>Se siente como un sueño - By Roberto Saldanha</p>
        <p><b>
            <a href="https://revistalatinanc.com/2024/01/18/se-siente-como-un-sueno/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>15.11.2023</b></p>
        <p>Público, Portugal</p>
        <p>Ondas internas no Pacífico ajudam a prever comportamento de El Niño e La Niña</p>
        <p><b>
            <a href="https://www.publico.pt/2023/11/15/azul/noticia/ondas-internas-pacifico-ajudam-prever-comportamento-el-nino-nina-2070320" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>23.09.2023</b></p>
        <p>European Times</p>
        <p>Tenemos evidencia indiscutible de los primeros objetos encontrados en otro sistema estelar</p>
        <p><b>
            <a href="https://europeantimes.news/es/2023/09/cient%C3%ADfico-tenemos-evidencia-indiscutible-de-los-primeros-objetos-encontrados-de-otro-sistema-estelar/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>23.09.2023</b></p>
        <p>Belgium Times</p>
        <p>Nous avons des preuves incontestables des premiers objets découverts dans un autre système stellaire</p>
        <p><b>
            <a href="https://www.belgium-times.be/2023/09/scientifique-nous-avons-des-preuves-incontestables-des-premiers-objets-decouverts-dans-un-autre-systeme-stellaire/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>13.07.2023</b></p>
        <p>Cambio 33</p>
        <p>Aprueba Comisión de Marina opinión positiva a iniciativa que plantea democratizar la política nacional marítima</p>
        <p><b>
            <a href="https://cambio33.com/aprueba-comision-de-marina-opinion-positiva-a-iniciativa-que-plantea-democratizar-la-politica-nacional-maritima/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>07.05.2023</b></p>
        <p>The Taoist Online</p>
        <p>The Illusion of Safety: Why It’s So Hard To Change</p>
        <p><b>
            <a href="https://thetaoist.online/the-illusion-of-safety-why-its-so-hard-to-change-f3d89c695d3" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>25.04.2023</b></p>
        <p>Medium.com</p>
        <p>What Are the Best Day Passes for Beach Clubs In Cozumel Mexico?</p>
        <p><b>
            <a href="https://medium.com/@TopCozumelNews/what-are-the-best-day-passes-for-beach-clubs-in-cozumel-mexico-583b938f9d97" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>16.04.2023</b></p>
        <p>HarianHaluan.com, Jakarta, Indonesia</p>
        <p>Awas! Bagi Nelayan Sumbar yang Mau Melaut Harus Hati-hati, BMKG Ingatkan Ini</p>
        <p><b>
            <a href="https://www.harianhaluan.com/news/108484868/awas-bagi-nelayan-sumbar-yang-mau-melaut-harus-hati-hati-bmkg-ingatkan-ini" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>06.03.2023</b></p>
        <p>Geography Directions, England</p>
        <p>La Niña is finishing an extremely unusual three-year cycle – here’s how it affected weather...</p>
        <p><b>
            <a href="https://blog.geographydirections.com/2023/03/06/la-nina-is-finishing-an-extremely-unusual-three-year-cycle-heres-how-it-affected-weather-around-the-world/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>23.01.2023</b></p>
        <p>Universidade Europeia, Lisbo, Portugal</p>
        <p>A Oeste…, o Paraíso</p>
        <p><b>
            <a href="https://www.europeia.pt/blog/a-oeste-o-paraiso/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>21.12.2022</b></p>
        <p>POPBELA.COM, Indonesia</p>
        <p>7 Fenomena Alam Ini Jadi Tanda Kiamat dalam Islam yang Sudah Tampak</p>
        <p><b>
            <a href="https://eldiariony.com/2022/12/15/que-es-el-agujero-negro-encontrado-en-el-oceano-pacifico-gracias-a-google-maps/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>15.12.2022</b></p>
        <p>EL DIARIO NY, USA</p>
        <p>¿Qué es el “agujero negro” encontrado en el Océano Pacífico gracias a Google Maps?</p>
        <p><b>
            <a href="https://eldiariony.com/2022/12/15/que-es-el-agujero-negro-encontrado-en-el-oceano-pacifico-gracias-a-google-maps/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>26.09.2022</b></p>
        <p>SuaraMerdeka, Indonesia</p>
        <p>Dijaga Sosok Kanjeng Ratu Kidul, Weton ini Digelontor Aliran Rezeki Seluas Samudera Hindia...</p>
        <p><b>
            <a href="https://www.suaramerdeka.com/gaya-hidup/pr-044915918/dijaga-sosok-kanjeng-ratu-kidul-weton-ini-digelontor-aliran-rezeki-seluas-samudera-hindia-kata-primbon-jawa?page=2" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>21.09.2022</b></p>
        <p>VIAGEM EM PAUTA</p>
        <p>Portugal e Espanha dão fim à polêmica da nacionalidade da 1ª volta ao mundo</p>
        <p><b>
            <a href="https://realhardman.medium.com/this-digital-transformation-will-be-user-driven-67a120afc2be" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>22.08.2022</b></p>
        <p>Loyola Press, IgnatianSpirituality.com, USA</p>
        <p>A Sense of Serenity</p>
        <p><b>
            <a href="https://www.ignatianspirituality.com/a-sense-of-serenity/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>30.04.2022</b></p>
        <p>Medium.com</p>
        <p>This Digital Transformation WILL be user driven.</p>
        <p><b>
            <a href="https://realhardman.medium.com/this-digital-transformation-will-be-user-driven-67a120afc2be" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>13.12.2021</b></p>
        <p>Lisa Rene Delgado</p>
        <p>Grieving the Holiday’s</p>
        <p><b>
            <a href="https://lisarenedelgado.org/2021/12/13/grieving-the-holidays/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>01.01.2021</b></p>
        <p>Three Wire Systems, LLC.</p>
        <p>Crisis Care: Life-saving care for those who need it most</p>
        <p><b>
            <a href="https://www.threewiresys.com/crisis-care" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>07.08.2020</b></p>
        <p>DutchReview, Netherlands</p>
        <p>donations pour in for family of Polish worker who drowned while saving three children</p>
        <p><b>
            <a href="https://dutchreview.com/news/140k-and-counting-donations-pour-in-for-family-of-polish-worker-who-drowned-while-saving-three-children/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>11.08.2020</b></p>
        <p>Climate Extremes, Australia</p>
        <p>Research brief: Natural variability and warming pattern may decide how El Niños will change</p>
        <p><b>
            <a href="https://climateextremes.org.au/research-brief-natural-variability-and-warming-pattern-may-decide-how-el-ninos-will-change/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>17.01.2020</b></p>
        <p>ESA - European Space Agency</p>
        <p>sea state cci - Product User Guide</p>
        <p><b>
            <a href="https://dap.ceda.ac.uk/thredds/fileServer/neodc/esacci/sea_state/docs/v1.1/Sea_State_cci_PUG_v1.0-signed.pdf" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>13.09.2018</b></p>
        <p>Orietta Ustariz</p>
        <p>DE LA CUEVA A LA LUZ</p>
        <p><b>
            <a href="https://oriettaustariz.wordpress.com/" target="_blank">
                     visit website</a></b>
        </p>
    </div>
    <div class="publication scroll-page">
        <p><b>02.04.2018</b></p>
        <p>RT</p>
        <p>Científicos chinos descubren una zona rica en tierras raras en las profundidades del Pacífico</p>
        <p><b>
            <a href="https://actualidad.rt.com/actualidad/267220-china-descubrir-tierras-raras-pacifico" target="_blank">
                     visit website</a></b>
        </p>
    </div>
</div>
