    <div class="scroll-container">
        {% for link in photoCredits.linksDoc %}
        <div class="publication scroll-page">
            <p><b>{{ link.date }}</b></p>
            <p>{{ link.publicist }}</p>
            <p>{{ link.title }}</p>
            <p><b><a href="{{ link.url }}" 
                     target="_blank" rel="noopener noreferrer">visit website</a></b></p>
        </div>
        {% endfor %}
    </div>
