---
layout: layout-page.njk
title: Web Developer and Designer Sascha Thiele
description: I invite you to check out part of my portfolio.
date: 2024-05-27T15:30:15+00:00
heading: Peace ✌️
---

    <h1>{{ heading }}</h1>

    <img src="/img/Sascha-Thiele_m.jpg" style="position: fixed; left: 46%; top: 75px; alt="Sascha Thiele" />

    <div style="background: rgb(0, 0, 0, 0.4); border-radius: 15px; padding: 4px 20px; margin-bottom: 10px; margin-top: 20vh;">
        <h2>Sascha Thiele's Nonprofit Work</h2>
        <h3>Dedicated to discovery, exploration and storytelling - to iluminate and connect with the world - some published photos found on the internet...</h3>
        <p><small>(No claim to completeness, accuracy or correctness of the following list nor am I responsable for the page content shown on the respective websites.) </b></small></p>
        <br>
    </div>
