---
layout: layout-page.njk
title: Sascha Thiele, Web Developer and Designer
description: I invite you to check out part of my portfolio.
date: 2024-05-27T15:30:15+00:00
heading: Peace ✌️
---

    <h1>{{ heading }}</h1>

    <picture style="position: fixed; left: 45.7%; top: 50px;">
        <source media="(min-width:1950px)" srcset="/img/Sascha-Thiele.jpg">
        <source media="(max-width: 450px)" srcset="/img/Sascha-Thiele_s.jpg">
        <img src="/img/Sascha-Thiele_m.jpg" style="width:auto;" alt="Sascha Thiele, Web Developer and Designer | CHILE">
    </picture>

    <div style="background: rgb(0, 0, 0, 0.4); border-radius: 15px; padding: 4px 20px; margin-bottom: 10px; margin-top: 21vh;">
        <br>
        <h2>Sascha Thiele's Nonprofit Work</h2>
        <h3>dedicated to peace and human dignity and linked to explore our connected world</h3>
        <p><small>(no claim to accuracy or correctness of the following list or the page content shown on the respective websites) </b></small></p>
        <br>
    </div>
