body {
    background-color: #9D7F63;
    background-image: url('/img/pexels-sascha-thiele-221815-747016.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    overflow: hidden;
}
h1,h2,h3,h4 {
    text-align: center;
    color: white;
    margin: 0;
}
p,a {
    text-align: center;
    color: white;
    margin: 0;
}
.scroll-container {
  width: 99vw;
  height: 50vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-top: 1vh;
}
.scroll-page {height: 2vh;}
.publication {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(0 0 0 / 0.4);
    border-radius: 15px;
    padding: 4px 20px;
    margin-bottom: 4px;
}

/* ########### MEDIA QUERIES ########## */
@media all and (min-width: 1950px) {body { font-weight:    700; 
                                           font-size:  x-large; }
                                    picture { cursor:  pointer; }
                                    .pulseBtn { display:  none; }
                                    svg{width:2rem;height:2rem;}}
@media all and (min-width: 1650px) {body { font-weight:    500; 
                                           font-size:    large;}
                                    svg{width:1.5rem;height:1.5rem;}}
@media all and (min-width: 1350px) {
    .publication {
        display: grid;
        padding: 0.4rem 0 1rem 2rem;
        grid-template-columns: 15% 30% 50% 5%;
        :nth-child(-n+3) {text-align: left;}}}
@media all and (max-width: 1250px) {body {font-weight:300;}}
@media all and (max-width: 1050px) {
    h1 {font-size: x-large;}
    h2 {font-size: larger;}
    h3 {font-size: medium;}
    .publication {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 50px;
        p{padding: 3px;}
    }
}
@media all and (max-width: 750px) {.publication   {p{padding:2px;}}}
@media all and (max-width: 450px) {.cam{position: absolute !important; 
                                        left: 50% !important;
                                        top: 20px !important;
                                        transform: translate(-50%);}
                                   .cam:hover{animation: paused !important;}
                                   .pulseBtn {display: none;}
                                   picture{position: absolute !important; 
                                           left: 50% !important;
                                           top: 80px !important;
                                           transform: translate(-50%);
                                           cursor: pointer;}
                                   .scroll-container {height: 33vh;}
                                   .publication   {p{padding:1px;}}}
@media all and (max-width: 400px) {body{font-size: small;}}
@media all and (max-width: 300px) {body{font-size: x-small;}
                                   h1 {font-size: large;}
                                   h2 {font-size: medium;}
                                   h3 {font-size: small;}
                                   .scroll-container{height: 20vh;}}
                                   
/* ########### ANIMATIONS ########## */
.email {animation:prestaMeAtencion 1s alternate infinite ease-in;}
@keyframes prestaMeAtencion { 100% {transform: scale(1.03);} }

.closeBtn {
  height: 25px;
  width: 30px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
}
.closeBtn:before, .closeBtn:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -0.5rem;
  height: 3px;
  width: 18px;
  background-color: black;
  transition: all 0.25s ease-out;
}
.closeBtn:after {transform: rotate(-135deg);}
.closeBtn:hover:before, .closeBtn:hover:after {transform: rotate(0deg);}

.pulseBtn {
z-index: 10;
background: transparent;
border: 0;
padding: 1rem;
border-radius: 2rem;
font-size: 1rem;
-moz-animation: pulse 2s infinite;
-webkit-animation: pulse 2s infinite;
animation: pulse 2s infinite;
animation-delay: 1.4s;
}
@keyframes pulse {
    0%   {box-shadow: 0 0 0 0    rgb(128 128 128 / 1);}
    70%  {box-shadow: 0 0 0 10px rgb(128 128 128 / 0);}
    100% {box-shadow: 0 0 0 50px rgb(128 128 128 / 0);}
}

@keyframes fadeInUpFast {
  0% {transform: translateY(100%);opacity: 0;}
  100% {transform: translateY(0%);opacity: 1;}
}.fadeInUpFast-animation {animation: 0.8s fadeInUpFast;}
@keyframes fadeInUpNormal {
  0% {transform: translateY(100%);opacity: 0;}
  100% {transform: translateY(0%);opacity: 1;}
}.fadeInUpNormal-animation {animation: 1s fadeInUpNormal;}
@keyframes fadeInUpSlow {
  0% {transform: translateY(100%);opacity: 0;}
  100% {transform: translateY(0%);opacity: 1;}
}.fadeInUpSlow-animation {animation: 1.2s fadeInUpSlow;}
@keyframes fadeInUpSlower {
  0% {transform: translateY(100%);opacity: 0;}
  100% {transform: translateY(0%);opacity: 1;}
}.fadeInUpSlower-animation {animation: 2.4s fadeInUpSlower;}

/* ########### POPOVER ########## */
[popover]:popover-open {
  opacity: 1;
  transform: scaleX(1);
}
[popover] {
  font-size: 1rem;
  padding: 10px;
  opacity: 0;
  transform: scaleX(0);
  transition:
    opacity 0.7s,
    transform 0.7s,
    overlay 0.7s allow-discrete,
    display 0.7s allow-discrete;
}
@starting-style {
  [popover]:popover-open {
    opacity: 0;
    transform: scaleX(0);
  }
}
[popover]::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
}
[popover]:popover-open::backdrop {
  background-color: rgb(0 0 0 / 66%);
}
@starting-style {
  [popover]:popover-open::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}
