body {
    background-image: url('/boilerplate-11ty-2.0.1/img/pexels-sascha-thiele-221815-747016.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
}
