    <section id="hero">
        <div style="background: rgb(0, 0, 0, 0.4); border-radius: 15px; padding: 4px 20px; margin-bottom: 10px; margin-top: 20vh;">
            <br>
            <h2>Sascha Thiele's Nonprofit Work</h2>
            <h3>dedicated to peace and human dignity and linked to explore our connected world</h3>
            <p>
                <small>(no claim to accuracy or correctness of the following list or page content shown on the respective websites)</small>
            </p>
            <br>
        </div>
    </section>
    
