    <picture style="position: fixed; left: 45.7%; top: 50px;" class="fadeInUpSlow-animation">
        <source media="(min-width:1950px)" srcset="/img/Sascha-Thiele.png">
        <source media="(max-width: 450px)" srcset="/img/Sascha-Thiele_s.png">
        <img src="/img/Sascha-Thiele_m.png" style="width:auto;" alt="Sascha Thiele, Web Developer and Designer | CHILE">
    </picture>
