<button popovertarget="about" style="background-color: transparent; border-style: none;">
    {% include 'components/picture.njk' %}
</button>
<button popovertarget="about" class="pulseBtn" style="position: fixed; left: 45.75%; top: 165px; margin-left:114px"></button>
<div popover="auto" id="about" style="border-color: transparent; border-radius: 20px;">{% include '../about.njk' %}</div>
