<button popovertarget="about" style="background-color: transparent; border-style: none;">
    {% include 'components/picture.njk' %}
</button>
<div popover="auto" id="about" style="border-color: transparent; border-radius: 20px;">{% include '../about.njk' %}</div>
